body {
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: right bottom;
  font-size: 12px;
}
.container.main {
  background: #FFF;
  border: 4px solid #FFFFFF;
  background: url('images/kubah2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  max-width:1000px;
}

p.indonesia {
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  border-bottom: 1px solid rgba(12, 55, 125, 0.1);
  padding-bottom: 6px;
  margin-bottom: 7px;
}

p.english {
  font-size: 12px;
  font-style: italic;
  color: #FFF200;
  border-top: 1px solid rgba(1, 53, 137, 0.09);
  padding-top: 10px;
  padding-bottom: 10px;
}

img.logo {
  width: 180px;
}

ul.support {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.support li{
float:left;
margin-right:5px;
}

ul.support li img {
  width: 20px;
  padding: 10px 0;
}

p.info, p.info a {
  font-size: 11px;
  font-style: italic;
  color: #9B9B9B;
}

.header {
  padding: 15px 20px 10px;
  z-index: 1;
}

.footer {
}

.content {
}

.alert {
  padding: 15px;
  margin: 10px 0 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.35) inset;
  background: rgba(17, 58, 137, 0.48);
}

.dropdown, .dropup {
  position: relative;
  text-align: right;
    margin-top: 10px;
}

.merah {
  color: rgb(207, 45, 7);
}

ul.peraturan li {
  color: #FFF;
  padding-bottom:5px;
}